html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {

  display: block;

}

body {
   	background: #000305 url("../img/bg.png") no-repeat center top;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 12px;
	color: #CCCCCC;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color:#FFFFFF;
	line-height: 22px
}

h2 {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #cccccc;
	letter-spacing: 1px;
}

h3 {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFFFFF;
}

.h1span {
	font-size: 20px;
	font-weight: normal;
	color: #cccccc;
}

.h3span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #cccccc;
}

a {

	text-decoration:none;

	color: #CCCCCC;

}



a:hover {

	text-decoration: none;

}



a:hover {

	text-decoration: underline;

}



ul {

	list-style-type: none;

}



strong {

	color: #FFFFFF;

}



#container {

	width: 380px;

	margin-top: 100px;

	margin-left: auto;

	margin-right: auto;

	padding-left: 150px;

}



#title { padding-bottom: 20px; }



#bio { padding-bottom: 20px; }



#skills { padding-bottom: 20px; }



#interests { display:none; padding-bottom: 20px; }



footer {

	clear: both;

	display: none;

	margin: auto;

	font-size: 12px;

	text-align: center;

	font-weight: bold;

}

